{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'account/image/logo.jpg' %}" type="image/gif" sizes="32x32">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet"> -->
  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{% static 'account/css/bootstrap.min.css' %}">

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'account/css/font-awesome5.css' %}"> -->

  <link rel="stylesheet" href="{% static 'account/css/templatemo-softy-pinko.css' %}">

  <!-- jQuery -->
  <script src="{% static 'account/js/jquery-2.1.0.min.js' %}"></script>
  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
  <script src="{% static 'account/js/index.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>

  {% include 'account/navbar.html' %}
  {% block body %}{% endblock body %}
  {% include 'account/footer.html' %}



  <!-- Bootstrap -->
  <script src="{% static 'account/js/popper.js' %}"></script>
  <script src="{% static 'account/js/bootstrap.min.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'account/js/scrollreveal.min.js' %}"></script>
  <script src="{% static 'account/js/waypoints.min.js' %}"></script>
  <script src="{% static 'account/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'account/js/imgfix.min.js' %}"></script>


  <script src="{% static 'account/js/custom.js' %}"></script>
  <script src="{% static 'account/js/map.js' %}"></script>

  <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwAH8gLbME8t0UluG7GJClS7CHF0KsPj4&callback=myMap">
    </script> -->
</body>

</html>