{% extends 'account/base.html' %}
{% block title %}Name Of Madrasa{% endblock title %}
{% load static %}
{% block body %}
<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>Name Of <strong>Madrasa</strong></h1>
                    <p>The Raised of Name Of Madrasa is to stimulate the spiritual and intellectual strengths of each
                        child.</p>
                    <a href="#features" class="main-button-slider">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{% static 'account/image/quran.png' %}" alt=""></i>
                            </div>
                            <h5 class="features-title">Quran</h5>
                            <p>Customize anything in this template to fit your website needs</p>
                            <a href="#" class="main-button">Read More</a>
                        </div>

                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{% static 'account/image/hadith.png' %}" alt=""></i>
                            </div>
                            <h5 class="features-title">Hadith</h5>
                            <p>Contact us immediately if you have a question in mind</p>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{% static 'account/image/namaz.png' %}" alt=""></i>
                            </div>
                            <h5 class="features-title">Namaz</h5>
                            <p>You just need to tell your friends about our free templates</p>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="{% static 'account/image/mistion.jpg' %}" style="height: 280px;"
                    class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Things We Are Doing</h2>
                </div>
                <div class="left-text">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis um voluptatum deleniti
                        atque orrupti quos dolores et quas molestias. Excepturi sint occaecati cupiditate.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">Mission Statement</h2>
                </div>
                <div class="left-text">
                    <p>Islam is monotheistic religion teaching that there is only one incomparable God – Allah and that
                        Muhammad is the messenger of God. It is the world’s second-largest religion and the
                        fastest-growing major religion in the world. Islam teaches that God is merciful, all-powerful
                        and unique.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="{% static 'account/image/mistion2.jpg' %}" style="height: 280px;"
                    class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Work Process</h1>
                        <p>Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut
                            ex. Donec ante diam.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{% static 'account/image/work-process-item-01.png' %}" alt=""></i>
                        <strong>Get Ideas</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{% static 'account/image/work-process-item-01.png' %}" alt=""></i>
                        <strong>Sketch Up</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{% static 'account/image/work-process-item-01.png' %}" alt=""></i>
                        <strong>Discuss</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{% static 'account/image/work-process-item-01.png' %}" alt=""></i>
                        <strong>Revise</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{% static 'account/image/work-process-item-01.png' %}" alt=""></i>
                        <strong>Approve</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{% static 'account/image/work-process-item-01.png' %}" alt=""></i>
                        <strong>Launch</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->

<!-- ***** Testimonials Start ***** -->
<section class="section" id="testimonials">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">What do they say?</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a
                        turpis. Ut sagittis lectus libero.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{% static 'account/image/testimonial-icon.png' %}" alt=""></i>
                        <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci.
                            Maecenas a finibus odio.</p>
                        <div class="user-image">
                            <img style="width: 67px;" src="{% static 'account/image/logo.jpg' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Catherine Soft</h3>
                            <span>Managing Director</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->

            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{% static 'account/image/testimonial-icon.png' %}" alt=""></i>
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat
                            nibh. Cras maximus venenatis molestie.</p>
                        <div class="user-image">
                            <img style="width: 67px;" src="{% static 'account/image/logo.jpg' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Kelvin Wood</h3>
                            <span>Digital Marketer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->

            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{% static 'account/image/testimonial-icon.png' %}" alt=""></i>
                        <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante
                            ultrices molestie. Ut vehicula et diam at aliquam.</p>
                        <div class="user-image">
                            <img style="width: 67px;" src="{% static 'account/image/logo.jpg' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">David Martin</h3>
                            <span>Website Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Testimonials End ***** -->

<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="donate-now">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">We Need Your Help</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Appreciatively, we acknowledge you for your charitable sustenance to Name Of Madrasa</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Zakat Appeal</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">14.50</span>
                            <span class="period">Raised</span>
                        </div>
                        <ul class="list">
                            <li class="active">Goal:$122.50</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" data-target="#exampleModalCenter1" type="button" data-toggle="modal"
                            class="main-button">Donate Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Sadaqah Jariyah</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">21.50</span>
                            <span class="period">Raised</span>
                        </div>
                        <ul class="list">
                            <li class="active">Goal:$130.50</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" data-target="#exampleModalCenter" type="button" data-toggle="modal"
                            class="main-button">Donate Now</a>
                    </div>
                </div>
            </div>

            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Al Imdaad</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">42.00</span>
                            <span class="period">Raised</span>
                        </div>
                        <ul class="list">
                            <li class="active">Goal:$330.50</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" data-target="#exampleModalCenter2" type="button" data-toggle="modal"
                            class="main-button">Donate Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
        </div>
    </div>
</section>
<!-- <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #7f0dff;">
            <div class="modal-header">
              <h5 class="modal-title text-light" id="exampleModalCenterTitle">Zakat Appeal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
               <img style="width: 200px;" src="{% static 'account/image/qr.png' %}" alt="">
            </div>

               <div  class="QR-link d-flex justify-content-center">
                <a href="#" class="main-button m-2">Donate with Link</a>
               </div>
              
                </div> -->
</div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #7f0dff;">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="exampleModalCenterTitle">Zakat Appeal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img style="width: 200px;" src="{% static 'account/image/qr.png' %}" alt="">
            </div>

            <div class="QR-link d-flex justify-content-center">
                <a href="#" class="main-button m-2">Donate with Link</a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #7f0dff;">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="exampleModalCenterTitle">Al Imdaad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img style="width: 200px;" src="{% static 'account/image/qr.png' %}" alt="">
            </div>

            <div class="QR-link d-flex justify-content-center">
                <a href="#" class="main-button m-2">Donate with Link</a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #E70AE3;">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="exampleModalCenterTitle">Sadaqah Jariyah</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img style="width: 200px;" src="{% static 'account/image/qr1.png' %}" alt="">
            </div>

            <div class="QR-link d-flex justify-content-center">
                <a href="#" class="main-button-slider m-2">Donate with Link</a>
            </div>
            <!-- <div class="buttons d-flex justify-content-center">
                    <ul class="wrapper">
                        <li class="icon facebook">
                          
                          <span><i class="fa fa-paypal"></i></i></span>
                        </li>
                        <li class="icon twitter">
                         
                          <span><i class="fa fa-cc-visa"></i></span>
                        </li>
                        <li class="icon instagram">
                          
                          <span><i class="fa-brands fa-paypal"></i></i></span>
                        </li>
                        <li class="icon github">
                         
                          <span><i class="fa-brands fa-apple-pay"></i></span>
                        </li>
                    
                      </ul>
                </div> -->
        </div>
    </div>
</div>

<!-- ***** Pricing Plans End ***** -->

<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>308</strong>
                        <span>Student</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-top">
                        <strong>6</strong>
                        <span>Teacher</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>8</strong>
                        <span>Course</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>7</strong>
                        <span>Member</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Counter Parallax End ***** -->
<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="donate-now"">
        <div class=" container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
        <div class="col-lg-12">
            <div class="center-heading">
                <h2 class="section-title">Profile Of Mudarriseen</h2>
            </div>
        </div>
        <div class="offset-lg-3 col-lg-6">
            <div class="center-text">
                <p>Appreciatively, we acknowledge you for your charitable sustenance to Name Of Madrasa</p>
            </div>
        </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
        <!-- ***** Pricing Item Start ***** -->
        <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
            <div class="">
                <div class="card-container">

                    <img class="round" src="{% static 'account/image/logo.jpg' %}" alt="user" />
                    <h3>Mohd Aahad</h3>
                    <h6>Saharanpur</h6>
                    <p>User interface designer and <br /> front-end developer</p>
                    <div class="buttons">
                        <ul class="wrapper">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                            </li>
                            <li class="icon twitter">
                                <span class="tooltip">Twitter</span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                            </li>
                            <li class="icon instagram">
                                <span class="tooltip">Instagram</span>
                                <span><i class="fa-brands fa-instagram"></i></span>
                            </li>
                            <li class="icon github">
                                <span class="tooltip">Github</span>
                                <span><i class="fa-brands fa-github"></i></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Pricing Item End ***** -->
        <!-- ***** Pricing Item Start ***** -->
        <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
            <div class="">
                <div class="card-container">

                    <img class="round" src="{% static 'account/image/logo.jpg' %}" alt="user" />
                    <h3>Salman</h3>
                    <h6>New York</h6>
                    <p>User interface designer and <br /> front-end developer</p>
                    <div class="buttons">
                        <ul class="wrapper">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                            </li>
                            <li class="icon twitter">
                                <span class="tooltip">Twitter</span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                            </li>
                            <li class="icon instagram">
                                <span class="tooltip">Instagram</span>
                                <span><i class="fa-brands fa-instagram"></i></span>
                            </li>
                            <li class="icon github">
                                <span class="tooltip">Github</span>
                                <span><i class="fa-brands fa-github"></i></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Pricing Item End ***** -->
        <!-- ***** Pricing Item Start ***** -->
        <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
            <div class="">
                <div class="card-container">

                    <img class="round" src="{% static 'account/image/logo.jpg' %}" alt="user" />
                    <h3>Mo Aamir</h3>
                    <h6>Islamnagar</h6>
                    <p>User interface designer and <br /> front-end developer</p>
                    <div class="buttons">
                        <ul class="wrapper">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                            </li>
                            <li class="icon twitter">
                                <span class="tooltip">Twitter</span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                            </li>
                            <li class="icon instagram">
                                <span class="tooltip">Instagram</span>
                                <span><i class="fa-brands fa-instagram"></i></span>
                            </li>
                            <li class="icon github">
                                <span class="tooltip">Github</span>
                                <span><i class="fa-brands fa-github"></i></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Pricing Item End ***** -->



    </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->
<section class="section" data-id="c3b0019" data-element_type="section">
    <div class="container">
        <div class="elementor-row">
            <div class="" data-element_type="column">
                <div class="">
                    <div class="elementor-widget-wrap">
                        <div class="" data-id="111fde8" data-element_type="widget"
                            data-widget_type="tmx-almanar_title.default">
                            <div class="elementor-widget-container">
                                <div class="wpo-section-title">
                                    <span>Islam Pillars </span>
                                    <h2>Five Pillars Of Islam</h2>
                                </div>
                            </div>
                        </div>
                        <div class="" data-id="" data-element_type="widget"
                            data-widget_type="tmx-almanar_pilars.default">
                            <div class="elementor-widget-container">
                                <div class="pilars-area ">
                                    <div class="fluid-container">
                                        <div class="row-grid">
                                            <div class="grid"
                                                data-scroll-reveal="enter bottom move 50px over 1.0s after 0.2s">
                                                <div class="pilars-item">
                                                    <div class="pilarts-img">
                                                        <img src="{% static 'account/image/pilar-1.jpg' %}" alt="">
                                                    </div>
                                                    <div class="pilars-text">
                                                        <h2>Shahadah</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid"
                                                data-scroll-reveal="enter bottom move 50px over 1.0s after 0.4s">
                                                <div class="pilars-item">
                                                    <div class="pilarts-img">
                                                        <img src="{% static 'account/image/pilar-22.jpg' %}" alt="">
                                                    </div>
                                                    <div class="pilars-text">
                                                        <h2>Salah</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid"
                                                data-scroll-reveal="enter bottom move 50px over 1.0s after 0.6s">
                                                <div class="pilars-item">
                                                    <div class="pilarts-img">
                                                        <img src="{% static 'account/image/pilar-3.jpg' %}" alt="">
                                                    </div>
                                                    <div class="pilars-text">
                                                        <h2>Sawm</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid"
                                                data-scroll-reveal="enter bottom move 50px over 1.0s after 0.8s">
                                                <div class="pilars-item">
                                                    <div class="pilarts-img">
                                                        <img src="{% static 'account/image/pilar-4.jpg' %}" alt="">
                                                    </div>
                                                    <div class="pilars-text">
                                                        <h2>Zakah</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid"
                                                data-scroll-reveal="enter bottom move 50px over 1.0s after 1.0s">
                                                <div class="pilars-item">
                                                    <div class="pilarts-img">
                                                        <img src="{% static 'account/image/pilar-5.jpg' %}" alt="">
                                                    </div>
                                                    <div class="pilars-text">
                                                        <h2>Hajj</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Start ***** -->
<section class="section" id="gallery">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Gallery</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh.
                        Cras maximus venenatis molestie.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <!-- <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'account/image/blog-item-01.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Vivamus ac vehicula dui</a>
                            </h3>
                            <div class="text">
                               Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'account/image/blog-item-02.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Phasellus convallis augue</a>
                            </h3>
                            <div class="text">
                                Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'account/image/blog-item-03.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Nam gravida purus non</a>
                            </h3>
                            <div class="text">
                                Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div> -->

        <div class="row">




            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.1s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g1.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g1.jpg' %}" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.2s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g1.jpg' %}">
                    <img class="img-thumbnail" src="{% static 'account/image/g2.jpg' %}" alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.3s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g3.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g3.jpg' %}" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.4s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g4.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g4.jpg' %}" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.5s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g5.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g5.jpg' %}" alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.6s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g6.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g6.jpg' %}" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.7s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g7.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g7.jpg' %}" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"
                data-scroll-reveal="enter bottom move 50px over 0.8s after 0.8s">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                    data-image="{% static 'account/image/g8.jpg' %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static 'account/image/g8.jpg' %}" alt="Another alt text">
                </a>
            </div>
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary float-left" id="show-previous-image"><i
                                class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-primary float-right"><i
                                class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- ***** Blog End ***** -->

<!-- ***** Contact Us Start ***** -->
<section class="section colored" id="contact-us">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Talk To Us</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.
                    </p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Contact Text Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">

                <div class="mapouter">
                    <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=326&amp;height=321&amp;hl=en&amp;q= islamnager saharanpur&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    </div>
                </div>
                <!-- <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        <br>auctor non lorem</p>
                        <p>You are NOT allowed to re-distribute Softy Pinko template on any template collection websites. Thank you.</p>
                    </div> -->
            </div>
            <!-- ***** Contact Text End ***** -->

            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="" method="get">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email"
                                        placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                        placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>
<section>

</section>
<!-- ***** Contact Us End ***** -->


{% endblock body %}